
<ion-header>
	<ion-navbar align="center">
		<ion-title>Welcome to Tuckshop</ion-title>

<!-- 		<ion-buttons end>	    
			
	      <button ion-button icon-only (click)="notificationsAlert()" >
	        <ion-icon *ngIf="!notificationsSubscribed" name="notifications"></ion-icon>
	        <ion-icon *ngIf="notificationsSubscribed" name="notifications-off"></ion-icon>
	      </button>

	    </ion-buttons> -->
	</ion-navbar>
</ion-header>


<ion-content align = "center" padding>

	<h2 text-center ion-text class="welcome" color="dark">
		Grab some Tuck!
	</h2>


	<ion-img width="280" height="280" src="/assets/icon/tuckshop.jpg"></ion-img>
	<div></div>


	<div padding>
		<button  ion-button block (click) = "signIn()" [disabled]="disabled" (click)="disabled=true"  color="ajency" class="login-btn" > Sign In </button>
	</div>



</ion-content>