page-buy {
	.item-block{
		font-size: 2rem;
	}
	p{
		line-height: 2rem;
	}
}

@media only screen and (min-height: 768px) and (min-width: 768px),
only screen and (min-height: 600px) and (min-width: 768px){
 	.modal-wrapper {
 		left: calc(50% - (500px/2));
 		top: calc(50% - (300px/2));
 		width: 500px;
 		height: 300px;
 	}
 }
.scroll{
::-webkit-scrollbar{
display:none;
}

	
}