<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
	<ion-navbar align="center" color="ajency">
		<ion-title>Tuckshop</ion-title>

		<ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-avatar >
      <img src={{image}} width="30" height="30">
    </ion-avatar>
      </button>
    </ion-buttons>
	
		</ion-navbar>
</ion-header>



<ion-content>
	<!-- Search Bar-->
	<ion-searchbar (ionInput)="callFilter()" [(ngModel)]="myInput"  autocomplete = "on" autocorrect = "on">
 ></ion-searchbar>


	<div *ngIf="loadingItems" text-center class="search-load">
		<ion-spinner margin color="ajency"></ion-spinner>
	</div>



	<ion-list >
		<ion-item *ngFor="let item of items" (click)="confirmPurchase(item)" class="fadeInUp">
			{{ item.itemName }}
			<div item-end><small>Rs.</small>{{item.price}}</div>
		</ion-item>
	</ion-list>



	<div margin text-center *ngIf="loadError">
		No Results
	</div>
</ion-content>
