page-search {
	.searchbar-ios{
		// background-color: transparent;
	}

	.avatar-img{
		border-radius: 50%;
	}

	ion-item.item{
		color: color($colors, ajency, contrast);
		text-transform: capitalize;
		cursor: pointer;
		&:hover {
		  background-color: color($colors, ajency, base);
		}
	}

	.refresher-pulling-icon, .refresher-refreshing-icon{
		color: color($colors, ajency, base);
	}
	.searchbar-input-container .searchbar-input{
		height: 70px;
	}
	.searchbar-md .searchbar-search-icon{
		top:25px;
	}

	.flex-container {
	  display: flex;
	  flex-wrap: nowrap;
	  background-color: #dedede;
	  justify-content: space-around;
	}

	.flex-container > button {
	  /*background-color: #f4f4f4;*/
	  width: auto;
	  margin: 10px;
	  text-align: center;
	  /*line-height: 75px;*/
	  font-size: 30px;
	}

		/* Style the buttons */
	.btn {
	  border: none;
	  outline: none;
	  padding: 10px 16px;
	  background-color: #f1f1f1;
	  cursor: pointer;
	}

	/* Style the active class (and buttons on mouse-over) */
	.active, .btn:hover {
	  background-color: #666;
	  /*color: white;*/
	}
}
