page-search {
	.searchbar-ios{
		background-color: transparent;
	}

	ion-item.item{
		color: color($colors, ajency, contrast);
		text-transform: capitalize;
	}
}

ion-item.item:hover {
  background-color: slategray;
}