page-specials {
	.specials{
		margin: -16px;
		&__holder{
			margin-bottom: 1.5em;
		}
		&__heading{
			padding: 1em 0.6em;
		    background-color: #eee;
		    display: flex;
		    justify-content: space-between;
		    font-size: 1.1em;
		    span{
		    	color: #4c4c4c;
		    }
		}
		&__lists{
			display: flex;
    		flex-wrap: wrap;
    		.checkmark{
    			display: none;
    			position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			    width: 100%;
			    height: 100%;
			    align-items: center;
			    justify-content: center;
			    color: #fff;
			    font-size: 2.5em;
    		}
    		.list{
    			margin: 1em;
    		}
    		.avatar-img{
    			border-radius: 50%;
    		}
    		ion-avatar{
    			position: relative;
    			&.active{
    				.avatar-img{
    					filter: url(#svgfilter);
    				}
    				.checkmark{
    					display: flex;
    				}
    			}
    		}
		}
		.svg-filter{
			display: none;
		}
	}
}
