page-signout {
	.sign-out{
		font-size: 15px;
	}

	.list > .item-block:first-child{
		background-color: #e0e0e0;
	}
	ion-list.list {
	    margin-bottom: 0;
	}

}

// ion-popover-view.fit {
//   height: auto;
// }

// ion-popover-view.fit ion-content {
//   position: relative;
// }


// .no-scroll{::-webkit-scrollbar{
// display:none;
// }
// }

// .username{
// .toolbar-background{
// 		background-color: color($colors, light, base);
// 	}
// 	.toolbar-title{
// 		color: color($colors, dark, contrast);
// 	}


// }

.popover-content{
	top: 48px !important;
	
}